<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <main class="looks-main">
        <div class="text-information-type-look" id="block-option-looks-fitness">
            <span class="tittle-options-looks">Fitness</span>
        </div>
        <div class="text-information-type-look" id="block-option-looks-street">
            <span class="tittle-options-looks">Street</span>
        </div>
        <div class="text-information-type-look" id="block-option-looks-casual">
            <span class="tittle-options-looks">Casual</span>
        </div>
        <div class="text-information-type-look" id="block-option-looks-formal">
            <span class="tittle-options-looks">Formal</span>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>