<header>
    <div><h1><a href="/" class="h1-tittle">Franco Arieli</a></h1></div>

    <div id="navigation">
        <ul class="navbar list-navbar">
            <div class="close-menu-hamburger">&#9587;</div>
            <li class="list-element-navbar">
                Looks
            </li>
            <li  class="list-element-navbar">
                Contact
            </li>
            <li  class="list-element-navbar">
                Videos
            </li>
            <li  class="list-element-navbar">
                Training
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>